body {
     text-align: center;
   
}

.items {
    width: 60%;
    margin: auto;
}
.main {
    padding-top: 5px;
    height: 250px;
    border: 1.5px rgb(70, 59, 59) solid;
    border-radius: 5px;
}



.newItem {
    width: 60%;
    margin-top: 10px;
    margin: auto;
    text-align: left;
}
